.form-field {
    display: block;
    margin-bottom: 2.2rem;
}

.form-label {
    display: block;
}

.form-input {
    font-size: 2rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    width: 100%;
    border: 1px #000 solid;
    border-radius: 5px;
}
