.landing {
    color: #000;
    padding-top: 15rem;     
    position: relative;
    height: 100vh;
}

.landing-content {
    display: inline-block;
    width: 30%;
    z-index: 10
}

.landing-content__heading {
    font-size: 15rem;
    padding-top: 4rem;
}

.landing-content__text {
    margin: 1rem;
}

.landing-content__para {
    font-size: 2.5rem;   
}

.landing-content__list {
    list-style: none;
    margin-top: 4rem;
}

.landing-content__list li {
    margin-bottom: 1.2rem;
}

.landing-content__list li:last-of-type{
    margin-bottom: 5rem;
}

.landing-image {
    width:70%;
    height: auto;
    position: absolute;
    right: 0;
    z-index: -1;
    transform: scaleX(-1);
    display: inline-block;

}

.btn-inline {
    text-decoration: none;
    color: #000;
    border: #000 1px solid;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
    margin: 1rem;
    
    padding: 1rem 3rem;
    box-sizing: content-box;

    transition: border-radius 1s ease-in-out;
}

.btn-inline:hover {
    color: #fff;
    border-radius: 100px;
    background-color: #000;
}

.btn-inline:focus {
    transform: translateY(2px);
}


@media screen and (max-width: 1440px) {
    .landing {
        padding-top: 12rem;
    }

    .landing-content__heading {
        font-size: 12rem;
        padding-top: 3rem;
    }

}



@media screen and (max-width: 1024px) {

    .landing-content {
        width: 100%;
        text-align: center;     
    }

    .landing-content__heading {
        text-align: center;
    }

    .landing-content__para {
        font-size: 3.1rem;
    }

    .landing-content__text {
        font-size: 2.5rem;
    }
    .landing-image {
        display: none;
    }


}
