.survey-summary {
    padding-top: 12rem;
    margin: 0 2rem;
    line-height: 5rem;
}

.text-secondary {
    font-size: 2.5rem;
    font-weight: 700;
    display: inline-block;
}

.survey-recipients-list {
    list-style: none;
    display: inline-block;
}

.survey-recipient {
    display: inline-block;
    line-height: 2rem;
    padding: 0.2rem 0.5rem;
    border: 1px solid transparent;
}

.survey-recipient:hover {
    border: 1px solid black;
    border-radius: 4px;
}

.graph {
    margin-left: 50%;
    transform: translateX(-50%);
    min-width: 250px;
}

.m-2 {
    margin-right: 2rem;
}